* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-top {
    display: none;
}

.navbar {
    padding: 5px 25px;
    border: none;
    margin-bottom: 0px;
}

.navbar-nav {
    float: left;
    display: none;
}

.navbar-default {
    background-color: white;
}


.navbar-default .navbar-nav>li>a {
    color: #324570;
    font-weight: bolder;
}

.img-responsive {
    width: 50%;
}

.navbar-brand {
    padding: 0px;
    max-width: 42%;
}

.navbar-brand>img {
    width: 183px;
    padding-top: 7px;
}
.navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

.btn-default {
    display: none;
}

.jumbotron-left {
    text-align: center;
}

.jumbotron-left h1 {
    font-size: 2.0em;
    font-weight: bolder;
    padding-top: 50px;
}

.jumbotron p {
    font-size: 22px;
}


@media screen and (min-width:768px) {
    .navbar-brand {
        max-width: 70%;
    }

    .navbar-toggle {
        display: block;
    }

    .jumbotron-left h1 {
        font-size: 4.0em;
        font-weight: bolder;
        padding: 20px 135px;
    }
}

@media screen and (min-width:1100px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        display: block;
        margin-left: 30px;
    }

    .btn-default {
        display: block;
    }

    .navbar-collapse .btn-default {
        float: right;
        font-size: 1.15em;
        margin-right: 10px;
        font-weight: bolder;
        border: 1px solid #006AFF;
        margin-top: 6px;
    }

    .btn-white {
        background-color: white;
        color: #006AFF;
    }

    .btn-white:hover {
        background-color: #006AFF;
        color: white;
        transition: 0.5s all;
    }

    .btn-blue {
        background-color: #006AFF;
        color: white;
    }

    .btn-blue:hover {
        background-color: blue;
        color: white;
    }

    .header-top {
        display: block;
        min-height: 50px;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }

    h3 {
        margin-top: 0;
    }

    .header-top h3 {
        display: inline-block;
        font-size: 9px;
        margin-left: 25px;
        padding: 4px 8px;
        border-radius: 4px;
        margin-top: 18px;
        background-color: #00D7D2;
    }

    .header-top a {
        text-decoration: none;
        margin: 0px 10px;
        font-weight: bolder;
        color: grey;
        font-size: 12px;
    }

    .header-top a:hover {
        color: #3B8CFF;
    }

    .header-top-left {
        width: 47%;
        display: inline-block;
    }

    .header-top-right {
        margin-top: 15px;
        float: right;
        width: 23%;
        display: inline-block;
    }


    .header-top-right ul,li {
        display: inline-block;
        float: right;
        margin-bottom: -2px;

    }

    .navbar-default .navbar-nav>li>a {
        color: #616d8a;
        font-weight: bolder;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #2680FF;
    }
}
