* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-top {
    display: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    padding: 5px 25px;
    border: none;
    margin-bottom: 0px;
}

.navbar-nav {
    float: left;
    display: none;
}

.navbar-default {
    background-color: white;
}


.navbar-default .navbar-nav>li>a {
    color: #324570;
    font-weight: bolder;
}

.img-responsive {
    width: 50%;
}

.navbar-brand {
    padding: 0px;
    max-width: 42%;
}

.navbar-brand>img {
    width: 183px;
    padding-top: 7px;
}
.navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-collapse .btn-default {
    display: none;
}

.jumbotron {
    margin-bottom: 0px;
    min-height: 787px;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
}

.jumbo {
 width: 100%;
}

.free-credit .btn {
    border: 0;
    padding: 13px 21px;
    white-space: normal;
    width: 70%;
    margin: 0% 15%;
    background-color: #031B74;
    color: white;
}

#free-credit-bold {
    font-weight: 700;
}

.jumbotron-left {
    text-align: center;
    width: 200%;
}

#row-left {
    width: 50%;
    display: block;
}

#row-right {
    width: 100%;
    display: block;
}

.jumbotron-left h1 {
    font-size: 2.0em;
    font-weight: bolder;
    padding-top: 50px;
    margin-top: 20%;
        color: white;
}

.jumbotron p {
    font-size: 22px;
    width: 100%;
    border-radius: 4px;
        color: white;
}

.jumbotron-right {
    width: 100%;
}

.registration {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    width: 350px;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.registration h3 {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #031B4E;
}

.form-control {
    margin-bottom: 10px;
    padding: 22px 12px;
}

.btn-primary {
    width: 100%;
    padding: 17px 0px;
    font-size: 1.2em;
    background-color: #0060FF;
}

.btn-primary:hover {
    background-color: #1633FF;
}

.email {
    width: 84%;
}

.btn-registration {
    color: #0060FF;
    border: 1px solid #0060FF;
    margin-top: 50px;
    padding: 13px 13px;
    font-size: 1.2em;
    font-weight: bolder;
}

.bussiness-solutions {
    background-color: #F3F5F9;
    text-align: center;
    padding-bottom: 50px;
}

.bussiness-solutions h4 {
    margin: 0px 0px;
    padding-top: 56px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 1.1em;
    color: #5B6992;
}

.images {
    margin-bottom: 20px;
}

.bussiness-solutions a {
    padding: 10px 0px 30px 0px;
    text-decoration: none;
    font-size: 1.2em;
    color: #4F92FD;
    font-weight: 700;
}

.bussiness-solutions a:hover {
    color: #4733FF;
}

.glyphicon {
    font-size: 0.7em;
    font-weight: 700;
}

.text-deploy {
    text-align: center;
}

.text-deploy h2 {
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 3.0em;
    color: #031B4E;
    font-weight: 600;
}

.text-deploy p {
    font-size: 20px;
    color: #5B6987;
    padding-bottom: 70px;
}

.list-deploy ul {
    display: inline-block;
    padding-bottom: 13px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-deploy li{
    list-style-type: none;
    display: inline-block;
}

.list-deploy a{
    text-decoration: none;
    padding: 12px 27px;
    font-size: 1.2em;
    text-decoration: none;
    color: #031B4E;
    font-weight: 600;
    margin-left: -5px;
}
.list-general {
    overflow-x: scroll;
}

.deploy-section {
    border-bottom: 3px solid #016AFF;
    padding-bottom: 13px;
}

.deploy-section a {
    padding-bottom: 10px;
}

#scale-section {
    border-bottom: 3px solid #E5E8ED;
    margin-left: -5px;
}

.list-deploy h4 {
    font-size: 18px;
}

.list-deploy p {
    font-size: 16px;
}

.designed-developers {
    background-color: #F3F5F9;
    text-align: center;
}

#kubernetes h4,#flexible h4,#marketplace h4,#global h4{
    font-weight: 600;
}

.img-responsive {
    display: inline-block;
    width: 60%;
}

.designed-developers h2 {
    font-size: 36px;
    color: #031b4e;
    padding-top: 65px;
    padding-bottom: 20px;
    font-weight: 700;
}

.p-designed {
    font-size: 20px;
    color:#5b6987;
    font-weight: 700;
    padding-bottom: 55px;
    font-weight: normal;
}

.designed-developers i {
    padding: 0px 80px;
    font-size: 1.6em;
    display: none;
}

#p-carousel {
    font-size: 15px;
    font-weight: normal;
    padding: 30px 0px;
}

.circles-carousel {
    padding-bottom: 80px;
}

.circles-carousel button {
    width: 10px;
    height: 10px;
    margin: 0px 3px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 100%;
}

#circle-blue {
    background-color: blue;
}

.bussiness-grid {
    text-align: center;
    padding-bottom: 85px;
}

.bussiness-grid h2 {
        font-size: 36px;
        color: #031b4e;
        padding-top: 65px;
        padding-bottom: 20px;
        font-weight: 700;
}

.bussiness-grid h5 {
    color: #031b4e;
    font-size: 18px;
    font-weight: 600;
}

.text-bussiness-grid img {
    padding: 20px 0px;
}

.text-bussiness-grid a {
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 600;
    color: #0069FF;
}

.text-bussiness-grid a:hover {
    color: #163DFF;
}

.data-centers {
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    background-color: #0F2656;
    text-align: center;
}

.padding-data-centers {
    padding: 70px 0px;
}

.data-centers h3 {
    font-size: 36px;
    color: white;
    font-weight: 700;
}

#p-title {
    font-size: 20px;
    color: white;
    padding-bottom: 70px;
}


.list-servers h6,p,a {
    display: inline-block;
    padding: 15px 0px;
}
.list-servers ul {
    margin-bottom: 0px;
}

.list-servers li {
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid grey;
}

.list-servers h6 {
    text-align: left;
    width: 70px;
    padding: 15px 0px;
    color: white;
    font-weight: 600;
}

.list-servers p {
    text-align: left;
    width: 167px;
    color: #72809C;
    font-weight: 600;
}

.list-servers a {
    text-align: left;
    text-decoration: none;
    width: 90px;
    font-weight: 600;
    color: #45D4FF;
}

.list-servers a:hover {
    color: #163DFF;
}

.development-team {
    background-color: #F3F5F9;
    text-align: center;
}

.development-team a {
    text-decoration: none;
    color: #0069ff;
}

.development-team a:hover {
    color:  #031b4e;
}

.development-team h2 {
    color: #031b4e;
    font-size: 36px;
    line-height: 110%;
    font-weight: 600;
    padding-top: 50px;
}

.card {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 40px 50px;
    display: inline-block;
}

.card img {
    width: 60%;
}

.card-development-team {
    margin-left: 0px;
}

.card-development-team i {
    font-size: 2.0em;
    color: #3F5279;
}

.card-body p {
    font-size: 13px;
    color: #5b6987;
}

.card-body h6 {
    color: #5b6987;
    font-size: 16px;
    padding-top: 10px;
    margin: 0px;
}

#bold-p {
    font-size: 24px;
    line-height: 150%;
    color: #5b6987;
}

.card-body {
    text-align: center;
}

.second-circles {
    padding-top: 25px;
}

.get-started {
    min-height: 130px;
    text-align: center;
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
}


.content-get-started {
    padding: 50px 0px;
}

.title-get-started {
    color: white;
    font-size: 36px;
}

.title-get-started h3 {
    font-size: 36px;
    font-weight: 700;
}

.button-get-started {
    color: #0069ff;
    background-color: white;
    padding: 18px 28px;
    margin-bottom: 13px;
    border: 0px;
    font-size: 1.1em;
    font-weight: 600;

}

#grey-hover:hover {
    background-color: #CBD4E4;
    color: #0069ff;
}

footer {
    background-color: #010E28;
}

footer li {
    list-style-type: none;
}

footer h6 {
    font-size: 16px;
    color: white;
}

.footer-top {
    min-height: 660px;
    border-bottom: 1px solid lightgrey;
}
}
.footer-top a {
    text-decoration: none;
    color: hsla(0,0%,100%,0.5);
    padding: 5px;
}

.footer-top a:hover {
    color: white;
}

@media screen and (min-width:768px) {
    .navbar-brand {
        max-width: 70%;
    }

    .navbar-toggle {
        display: block;
    }

    .jumbotron-left h1 {
        text-align: center;
        font-size: 4.0em;
        font-weight: bolder;
        padding: 20px 135px;
        margin-top: 40px;

    }

    .jumbotron p {
        text-align: center;
        padding: 0px 140px;

    }

    .list-general {
        margin-right: 0px;
    }

    .list-servers li {
        margin: 0 160px;
    }



@media screen and (min-width:992px) {

    .row::after {
        display: inline-block;
        content: normal;
    }

    .row:before {
        display: inline-block;
        content: normal;
    }


    #row-right {
        width: 49%;
        display: inline-block;
    }

    #row-left {
        width: 49%;
        display: inline-block;
    }

    .deploy-section,#scale-section{
        border-bottom: 0px;
    }

    .list-deploy ul {
        padding-bottom: 0px;
    }

    .deploy-section {
        padding-bottom: 0px;
    }


    .text-deploy {
        overflow: hidden;
    }

    .list-deploy {
        text-align: left;
    }

    .list-deploy li {
        padding: 15px 0px;
        float: left;
    }

    .deploy-section {
        border-left: 2px solid #016AFF;
        margin-left: -5px;
    }

    #scale-section {
        border-left: 2px solid #E5E8ED;
    }

    .list-general {
        margin-right: 0px;
        min-height: 300px;
    }

    #kubernetes,#flexible,#marketplace,#global {
        text-align: left;
    }

    .designed-developers i {
        padding: 0px 80px;
        font-size: 1.6em;
        display: inline-block;

    }

    .list-general {
        overflow-x: hidden;
    }

    .list-servers li {
        margin: 0px 60px;
    }

    .card img {
        width: 30%;
    }

    .button-get-started {
        margin-bottom: 40px;
        float: right;
    }

    .title-get-started h3 {
        margin-top: 7px;
        float: left;
    }
}

@media screen and (min-width:1100px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        display: block;
        margin-left: 30px;
    }

    .btn-default {
        display: inline-block;
    }

    .navbar-collapse .btn-default {
        float: right;
        font-size: 1.15em;
        margin-right: 10px;
        font-weight: bolder;
        border: 1px solid #006AFF;
        margin-top: 6px;
        display: inline-block;
    }

    .btn-white {
        background-color: white;
        color: #006AFF;
    }

    .btn-white:hover {
        background-color: #006AFF;
        color: white;
        transition: 0.5s all;
    }

    .btn-blue {
        background-color: #006AFF;
        color: white;
    }

    .btn-blue:hover {
        background-color: blue;
        color: white;
    }

    .header-top {
        display: block;
        min-height: 50px;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }

    h3 {
        margin-top: 0;
    }

    .header-top h3 {
        display: inline-block;
        font-size: 9px;
        margin-left: 25px;
        padding: 7px 9px 4px 8px;
        border-radius: 4px;
        margin-top: 18px;
        background-color: #00D7D2;
    }

    .header-top a {
        text-decoration: none;
        margin: 0px 10px;
        font-weight: bolder;
        color: grey;
        font-size: 12px;
    }

    .header-top a:hover {
        color: #3B8CFF;
    }

    .header-top-left {
        width: 47%;
        display: inline-block;
    }

    .header-top-right {
        margin-top: 15px;
        float: right;
        width: 23%;
        display: inline-block;
    }


    .header-top-right ul, .header-top-right li {
        display: inline-block;
        float: right;
        margin-bottom: -2px;

    }

    .navbar-default .navbar-nav>li>a {
        color: #616d8a;
        font-weight: bolder;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #2680FF;
    }

    #row-left {
        width: 50%;
        display: inline-block;
    }

    #row-right {
        width: 49%;
        display: inline-block;
    }

    .jumbotron-left {
        margin-left: 28%;
    }

    .jumbotron-left h1 {
        text-align: left;
    }

    .jumbotron p {
        text-align: left;
    }

    ..list-general {
        margin-right: 10%;
    }

}

@media screen and (min-width: 1200px){
    .text-bussiness-grid {
        text-align: left;
    }
}

@media screen and (min-width: 1300px){
    .container {
        width: 1300px;
    }

    .list-servers li {
        margin: 0px 140px;
    }
}
